@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/* =========================
   Base
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Source Code Pro", monospace;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  margin-bottom: 1rem;
}

h2,
h3 {
  text-align: center;
}

/* =========================
   Layout
========================= */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.nav {
  margin-bottom: 2rem;
}

section,
footer {
  padding: 6.25rem 2rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-around;
}

/* =========================
   Navigation
========================= */

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav a {
  color: #00356b;
  text-decoration: none;
}

/* =========================
   Hero
========================= */

.hero-content {
  max-width: 775px;
  align-self: center;
  margin: auto 0;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  background-color: #00356b;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 0.625rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* =========================
   Professional
========================= */

.job-header {
  display: flex;
  justify-content: space-between;
}

.company {
  margin-bottom: 1rem;
}

.job ul {
  padding-left: 1.5rem;
}

/* =========================
   Projects
========================= */

/* =========================
   Skills
========================= */

/* =========================
   Footer
========================= */

footer ul {
  display: flex;
  /* gap: 2rem; */
  justify-content: space-around;
  list-style: none;
}

footer p {
  text-align: center;
  margin-top: 2rem;
}
